@import '../../styles/variables.scss';

.schema {
  position: relative;
  width: 1920px;
  height: 1080px;
  background-color: map-get($colors, bg);

  svg * {
    fill: map-get($colors, svg);
  }

  p {
    position: absolute;
    margin: 0;
  }

  .legend {
    top: 56px;
    font-size: 48px;
  }

  .question {
    top: 320px;
    left: 228px;
    font-size: 128px;
  }

  p:nth-child(3) {
    left: 1210px;
  }

  p:nth-child(4) {
    left: 1489px;
  }

  p:nth-child(5) {
    left: 1714px;
  }
}

.correct {
  background-color: map-get($colors, correct);
}

.incorrect {
  background-color: map-get($colors, incorrect);
}

.check {
  position: absolute;
  top: 0;

  svg * {
    fill: yellow;
  }
}
