@import '../../styles/variables.scss';

div {
  svg {
    rect:first-of-type ~ * {
      fill: map-get($colors, svg);
    }
  }

  p {
    position: absolute;
    margin: 0;
  }

  .legend {
    top: 56px;
    font-size: 48px;
  }

  .question {
    top: 320px;
    left: 228px;
    font-size: 128px;
  }

  p:nth-child(3) {
    left: 1210px;
  }

  p:nth-child(4) {
    left: 1489px;
  }

  p:nth-child(5) {
    left: 1714px;
  }
}

.correct {
  fill: map-get($colors, correct);
}

.incorrect {
  fill: map-get($colors, incorrect);
}

.selected {
  fill: map-get($colors, bg);
}
